footer
{
	text-align: center;
	background-color: coral;
	height:10%;
	width:100%;
	padding:1%;
	margin-top:2%;
	position:absolute;
	bottom:0;
}
.sidebar
{
	float:left;
	width:20%;
	padding : opx;	
}
.intro
{
	text-align:center;
}
.image
{
	margin-left:auto;
	margin-righ:auto;
}
.notes
{
  position:absolute;
  left: 20%;
}
.navlogo
{
	height:50px;
	border-radius:50%;
}

// for heading section

.headpart 
{
	text-align: center;
	margin-left: 2rem;
	margin-right: 3rem;
}

